
<button
	class=" mx-2 inline-flex align-middle py-3 px-8 bg-[#7289da] text-white font-semibold rounded-full shadow-md hover:brightness-[1.15] focus:outline-none drop-shadow-[0_7px_5px_rgba(0,0,0,0.4)] "
>
	<slot />
</button>
